html {
    height: 100%;
}

body {
    font-family: var(--font-family-main), sans-serif;
    font-size: var(--font-size-m);
    color: var(--secondary-text-color);
    background-color: var(--bg-base-color);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--primary-color);
    line-height: var(--font-line-title);
    font-size: clamp(2rem, 10vw, 7.5rem);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.05em;
}

h1::selection {
    background: var(--bg-base-color);
    color: var(--secondary-text-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-text-color);
}