:root {
    /* Шрифты */
    --font-line-title: 85%;
    --font-line: 130%;
    --font-line-accent: 120%;
    --font-size-m: 18px;

    /* Цвета */
    --primary-color: #06DF65;
    --secondary-text-color: #FFF;
    --accent-text-color: #121515;
    --border-color: #E6E8EE;
    --bg-base-color: #1F1F20;
    --bg-white-color: #FFF;
    --bg-grey-color: #595959;

    /* Прочее */
    --primary-transition: 0.3s ease;
}