.inner {
    position: relative;
    height: 100dvh;
    background-image:
            url('/images/decor-top-left.png'),
            url('/images/decor-top-right.png'),
            url('/images/decor-bottom-left.png'),
            url('/images/decor-bottom-right.png');
    background-repeat: no-repeat;
    background-position:
            top left,
            top right,
            bottom left,
            bottom right;
    background-size:
            37vw auto,
            23vw auto,
            32vw auto,
            21vw auto;
}

.logo {
    display: block;
    margin: 6.07vh auto 3vh;
}