.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result__track {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    width: 77vw;
    padding: 24px;
    border: 4px solid transparent;
    background:
            linear-gradient(#2c2c2c, #2c2c2c) padding-box,
            linear-gradient(114.4deg, rgb(255 255 255 / 80%) 5.2%, rgb(255 255 255 / 10%) 55%, rgb(255 255 255 / 56%) 100%) border-box;
    border-radius: 35px;
    box-shadow:
            0 0 30px 10px var(--primary-color),
            0 0 0 0.5px var(--primary-color) inset;
    transition: box-shadow var(--primary-transition) ease;
    margin-top: 9vh;
}

.result__artist {
    font-weight: 500;
    color: var(--white-text-color);
    font-size: clamp(1rem, 3.7vw, 3rem);
    line-height: var(--font-line-accent);
    letter-spacing: -3%;
    margin-bottom: 10px;
}

.result__title {
    font-weight: 400;
    font-size: clamp(1rem, 3.5vw, 3rem);
    line-height: var(--font-line-accent);
    letter-spacing: 0%;
    color: var(--grey-light-text-color)
}

.result__qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 8vh;
}

.result__text  {
    max-width: 400px;
    font-weight: 400;
    font-size: clamp(1rem, 2.4vw, 2rem);
    color: var(--white-text-color);
    line-height: 105%;
    letter-spacing: -6%;
    text-align: center;
}

.result__box {
    width: 100%;
    max-width: 267px;
}

@media (width <= 768px) {
    .result__track {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        margin-top: 4vh;
    }

    .result__box {
        max-width: 180px;
    }

    .result__text  {
        max-width: 300px;
    }

    .result__qr {
        margin-top: 6vh;
    }

    .result__artist {
        margin-bottom: 6px;
    }
}